html, body {
    height: 100%;
    width: 100%;
    margin: unset;
    padding: unset;
    background-image: url("../images/bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container {
    display: flex;
    flex-direction: column;
    height: auto;
}

#header {
    width: 100%;
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#header-img {
    width: 120px;
    height: 50px;
}

#nav-menu {
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link {
    flex-basis: 150px;
    height: 100%;
}

#content {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* flex-grow: 2; */
    justify-content: space-between;
    align-items: center;
}

#title {
    height: calc(100vh - 50px);
    /* min-height: calc(100% - 50px); */
}

#description-article {
    
    display: flex;
    flex-direction: column;
}

.description-row {
    display: flex;
    flex-direction: row;
}

.description-row-icon {
    width: 35px;
    height: 35px;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}


#footer {
    /* flex-grow: 2; */
    /* height: 90px; */
    background-color: peachpuff;
}

#footer > section {
    width: 240px;
    padding: 5px;
    margin-top: auto;
    margin-left: auto; 
    margin-right: 20px;
}

#footer-menu {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
