html, body {
    height: 100%;
    width: 100%;
    margin: unset;
    padding: unset;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-img {
    width: 120px;
    height: 50px;
}